.header-background {
    /* position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    /* background-color: #WHITE; */
    /* z-index: -1;
    height: 75px; */
}

.header-background img {
    position: absolute;
    right: 0px;    
    height: 75px;
}

.image-background {
    /* background-image: url("../images/linnen_red.jpg");
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    text-decoration: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}

.overlay {
    position: absolute;
    left: 0px;
    top: -80px;
}

.blok2 {
    margin-top: 25px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.blok2 img {
    vertical-align: middle;
    max-width: 100%;
}

.tekstblok {
    padding-left: 50px;
    padding-right: 100px;
}

.streep {
    width: 50px;
    height: 8px;
    background-color: #DDCAB2;
    margin-left: -25px;
}

.title {
    font-family: 'Baskervville', serif;
}

.subtitle {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 100;
    font-size: 14px;
    letter-spacing: 1px;
}

.text-semi {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    font-size: 14px; 
}
.text {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 100;
    font-size: 14px; 
    line-height: 20px;
}

.col-lg-7 {
    padding-left: 0px;
}

.col-lg-7 .img-left {
    padding-left: 15px;
}

.inschrijven {
    border: 3px solid #AA4A3C;
    border-bottom: none;
}

@media (max-width: 1090px) {
    .col-lg-7 .img-right {
        padding-left: 15px;
    }
}

@media (max-width: 767.98px) {
    .header-background {
        height: 120px;
    }
    .header-background img {
        height: 120px;
    }
}

@media (max-width: 380px) {
    .overlay {
        position: absolute;
        left: 0px;
        top: -40px;
        height: 60px;
    }
}