.blok2 img {
    vertical-align: middle;
    max-width: 100%;
}

.left-image {
    margin-top: 75px;
}

.right-image {
    margin-top: 75px;
}

.overlay {
    position: absolute;
    left: 0px;
    top: -80px;
}

.logo-overlay {
    position: absolute;
    left: 0px;
    top: -105px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.tekstblok {
    padding-left: 50px;
    padding-right: 50px;
}

.streep {
    width: 50px;
    height: 8px;
    background-color: #DDCAB2;
    margin-left: -25px;
}

.title {
    font-family: 'Baskervville', serif;
}

.subtitle {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 100;
    font-size: 14px;
    letter-spacing: 1px;
}

.text-semi {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    font-size: 14px; 
}
.text {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 100;
    font-size: 14px; 
    line-height: 20px;
    text-align: justify;
    text-justify: inter-word;
}

.col-lg-7 {
    padding-left: 0px;
}

.col-lg-7 .img-left {
    padding-left: 15px;
}

#testurl {
    color: black;
    text-decoration: none;
}

#testurl:hover {
    color: black;
    text-decoration: none;
}

@media (max-width: 1090px) {
    .col-lg-7 .img-right {
        padding-left: 15px;
    }
}

@media (max-width: 1079px) {
    .right-image {
        margin-top: 25px;
    }
    .right-margin {
        margin-top: 75px;
    }
}

@media (max-width: 380px) {
    .overlay {
        position: absolute;
        left: 0px;
        top: -40px;
        height: 60px;
    }
    .logo-overlay {
        position: absolute;
        left: 10px;
        top: -48px;
        height: 110px;
    }
    .left-image {
        margin-top: 50px;
    }
}