#download button {
    margin-top: 25px;
    background-color: #AA4A3C;
	border: none;
    padding: 25px;
    color: white;
    /* font-family: 'Noto Sans JP', sans-serif; */
    font-family: 'Baskervville', serif;
    font-weight: 400;
    /* font-size: 13px; */
    font-size: 20px;
    letter-spacing: 1px;
    width: 100%;
    min-height: 86px;
    vertical-align: middle;
}

#download button img {
    height: 36px;
}