#form {
    margin-top: 25px;
    padding-top: 25px;
    /* padding-bottom: 10px; */
    background-color: #AA4A3C;
    /* font-family: 'Baskervville', serif; */
    color: white;
    font-family: 'Baskervville', serif;
    /* font-family: 'Noto Sans JP', sans-serif; */
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    /* border: 10px solid #AA4A3C;
    border-top: none; */
}

#form .invalid-feedback {
    color: orange;
}

#form .form-check-label {
    color:  white;
}

#form .btn {
    background-color:  #AA4A3C;
    color: white;
    border-radius: 0px;
    -moz-box-shadow-bottom: 4px 4px 4px 2px black;
    -webkit-box-shadow-bottom: 4px 4px 4px 2px black;
    box-shadow: 4px 4px 4px 2px black;
}

#form .btn:hover {
    background-color: #6b2e26;
}