#form {
    padding-top: 25px;
    padding-bottom: 10px;
    /* background-color: #AA4A3C; */
    /* font-family: 'Baskervville', serif; */
    color: black;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 1px;
}

#form .invalid-feedback {
    color: #AA4A3C;
}

#form .form-check-label {
    color:  black;
}

#form .btn {
    background-color:  #AA4A3C;
    color: white;
    border-radius: 0px;
}