#keuzeblok .row button {
    background-color: white;
    border: none;
    /* padding: 25px; */
    color: black;
    /* font-family: 'Noto Sans JP', sans-serif; */
    font-family: 'Baskervville', serif;
    font-weight: 400;
    /* font-size: 13px; */
    font-size: 20px;
    letter-spacing: 1px;
    width: 100%;
    min-height: 86px;
    vertical-align: middle;
    border: 1px solid black;
}

#keuzeblok .row button:hover {
	border: 2px solid black;
}

#keuzeblok .row button:focus {
	outline: none;
	background-color: lightgrey;
  }

#floor1 {
	margin-top: 100px;
}

#floor2, #floor3 {
	margin-top: 10px;
}

#f1,#f2, #f3 {
	margin-top: 75px;
}

#f2, #f3 {
    display: none;
}

#fp2, #fp3 {
	display: none;
}

#fp1 img, #fp2 img, #fp3 img {
	/* max-width:60%; */
	max-height: 90vh;
}

div[id*='app'] {
    display: none;
}

/* MODAL STYLING */

.modal-header {
	border-bottom: none;
	color: white;
	letter-spacing: 1.5px;
	background-color: #AD867B;
}

.modal-header h5 {

}

.modal-title {
	font-size: 30px;
}

.modal-content {
	/* background-color: #AD867B; */
}

.modal-body {
	padding: 0;
}

.modal-body img {
	max-width:100%;
	max-height:100%;
}

.modal-body p {
	margin-top: 12px;
	margin-left: 16px;
	color: black;
	line-height: 1.9;
}

@media screen and (max-width: 1199px) {
	#keuzeblok {
		display: none;
	}
}