button {
    background: none;
	color: inherit;
	border: 1px solid black;
	padding: 7px 15px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	width: 137px;
	margin-top: 10px;

}

#f2, #f3 {
    display: none;
}

#fp2, #fp3 {
	display: none;
}

.modal-body img {
	max-width:100%;
	max-height:100%;
}

#fp1 img, #fp2 img, #fp3 img {
	max-width:100%;
	max-height:100%;
}

div[id*='app'] {
    display: none;
}