.buttton {
    background-color: #AA4A3C;
    /* font-family: 'Baskervville', serif; */
    /* color: #DDCAB2; */
	border: none;
    padding: 25px;
    border-radius: 5px;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 1px;
    width: 100%;
    margin-top: -10px;
}

a {
    color:white;
}

a:hover {
    color:white;
    text-decoration: none;
}

div p {
    padding: 25px;
}