.top {
    height: 100vh;
    background: url(../images/TEST.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.usp {
    margin-top: -20vh;
    /* height: 500px; */
    z-index: 999;
    background-color: white;
    margin-left: 25%;
    margin-right: 25%;
    /* border: 2px solid #DDCAB2; */
}

@media screen and (max-width: 700px) {
    #toplogo {
       height: 150px;
    }
    .usp {
        margin-left: 10%;
        margin-right: 10%;
    }
}